.contactH1 {
  margin: 19em 0em -27em;
}
.welcomeContactPicture {
  background-image: url(../images/pexels-thanhhoa-tran-1488327.jpg);
  width: 80%;
  height: 55vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.contactContent,
.contactForm {
  /* max-width: 600px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.locationContent {
  width: 80%;
  margin: 0 auto;
}

iframe {
  width: 300px;
  height: 300px;
}

.contactPic {
  max-width: 300px;
  height: 300px;
}
@media only screen and (min-width: 1024px) {
  .contactH1 {
    margin: 0em 0em 0em;
  }

  iframe {
    width: 450px;
    height: 350px;
  }

  .contactPic {
    max-width: 450px;
    height: 350px;
  }
}
