

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@200;300;400;700&family=Lato:wght@300;400&family=Spline+Sans+Mono:ital,wght@0,300;0,400;0,600;1,300&display=swap');

/* font-family: 'Hepta Slab', serif; ExtraLight 200, Light 300, Regular 400, Bold 700
font-family: 'Lato', sans-serif; light 300, Regular 400
font-family: 'Spline Sans Mono', monospace;Light 300, Light 300 Italic, Regular 400, Semibold 600 */
h1{
  padding-top: 6em;
}
html, body{
  height: 100%;
}

body{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: 'Hepta Slab', serif, cursive, 'Times New Roman', Times, serif, Verdana, Geneva, Tahoma, sans-serif;
}

:root{
  --primary-color:#FFF091;
  --secondary-color:#000000;
  --third-color:white;
  --links-color:blue;
}
.form-error{
  background: #fbb;
  color: darkred;
  padding: 0.4rem 1rem;
}

.logo img{
  height: 100%;
  position: relative;
  right: 30%;
}
 .adminSection{
  position: relative;
  left: 0%;
  font-size: 22px;

}

header{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color);
  position: fixed;
  height: 100%;
  z-index: 7;
}


ul li{
  display: block;
  margin: 15px 0;

}

li a{
  text-decoration: none;
  color: var(--third-color);
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

li a:hover{
  color: var(--primary-color);
}



.active{
color: var(--primary-color);
}

.burger,.burgerClose{
  position: absolute;
  right: 5%;
  font-size: 60px;
  color: var(--primary-color);
  margin: 20px 0px;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.responsiveNav{
  display: flex;
  background-color: green;
}

.desktopNav{
  display: none;
}

@media only screen and (min-width: 1038px){
  .responsiveNav{
    display: none;
  }

  .desktopNav{
    display: flex;
    background: blue;
  }

  ul li{
    display: inline-flex;
    margin: 0 15px;
  
  }

  header{
    height: 150px;
    align-items: center;
  }

  .adminSection{
    left: 15%;
  }
  
  
 
}